@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap')
@import './utils/breakpoints.scss'

html
    *
        box-sizing: border-box
        font-family: 'Open Sans', Arial, Helvetica, sans-serif
        color: #42474A
    overflow-x: hidden

h1
    font-size: 1.2rem
    margin:0

h2
    @include breakpoint(xs)
        font-size: 1.25rem

p 
    font-size: 0.875rem
    margin:0
    @include breakpoint(xs)
        font-size: 0.75rem

.not-mobile
    @include breakpoint(xs)
        display: none

.mobile
    display: none
    @include breakpoint(xs)
        display: block

body
    margin:0
    width: 1170px
    background: #F4F8F9
    padding: 60px 0
    margin: auto
    @include breakpoint(md)
        width:100%
        padding:0
    @include breakpoint(xs)
        width:100%
        padding:0

[id*=outline]
    fill: transparent
    stroke: #adbdc0
    stroke-width: 40

svg
    display: inline-block
    height:20px
    margin-right:10px
    fill: #adbdc0
    
header
    background: white
    margin-bottom: 37px
    @include breakpoint(xs)
        background: transparent
        margin-bottom:13px

.right-aligned
    display: block
    margin-left: auto

.center-aligned
    display: block
    margin: auto

.verticaly-centered
    display: flex
    align-items: center

button
    background: white
    border:1px solid white
    height:100%
    display: inline-block
    padding:20px 0
    font-size: 0.9375rem
    line-height: 0.9rem
    cursor: pointer
    @include breakpoint(xs)
        background: transparent
        border: 1px solid transparent

[class^="button"]
    border:1px solid #D9E4EC
    background: white
    border-radius: 3px
    padding:7.5px 18px
    color:#858E96

.button-secondary--accent-color
    border-color:#007DE4
    border-width: 2px
    color: #007DE4
    @include breakpoint(xs)
        background: transparent
        border-color: transparent
        border: none

.button-primary--accent-color
    background:#007DE4
    color: white
    border-color:#007DE4
    border-width: 2px
    @include breakpoint(xs)
        background: transparent
        color: #007DE4
        border: none

.semi-bold
    font-weight: 600

.semi-transparent
    opacity:0.5

.bold
    font-weight: 800

.small
    font-size:0.75rem
    line-height: 0.75rem

.padding--small
    padding:20px 20px
    @include breakpoint(xs)
        padding:20px 20px 30px

.brief-information-container
    display: flex
    justify-content: space-between
    position: relative
    top:10px
    .short-info-container
        margin-left:185px
        @include breakpoint(xs)
            margin-left:0
            display: flex
            flex-direction: column
        p
            margin-top: 15px
            @include breakpoint(xs)
                margin-top: 10px
        h1
            @include breakpoint(xs)
                text-align: center
    .address-container
        @include breakpoint(xs)
            order:2
    .tel-number-container
        @include breakpoint(xs)
            order:1
    @include breakpoint(xs)
        flex-direction: column
        padding-top: 175px

.upload-button
    margin-top:20px
    margin-bottom:20px
    > svg
        margin-right: 20px

.navigation-overlay
    height:100%
    width:60px
    background: white
    position: absolute
    right:0px
    top:0

.navigation-bar
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    padding-left:185px
    padding:0 20px 0 205px
    box-shadow: 0px 1px 6px rgba(114, 126, 136, 0.28)
    background: white
    white-space: nowrap
    > nav
        overflow-x: hidden
        width:100%
        ul
            list-style: none
            padding:0
            margin:0
        @include breakpoint(xs)
            overflow-x: hidden
            margin-left: 20px
            margin-right: 20px
        li  
            display: inline-block
            margin-right:30px
        li:first-of-type
            @include breakpoint(xs)
    @include breakpoint(xs)
        padding-left: 0
        padding-right: 0

.nav-link--active
    border-bottom:2px solid #018DFE

main 
    background: white
    height: auto
    min-height: 616px
    padding:45px 35px
    box-shadow: 0px 1px 6px rgba(114, 126, 136, 0.28)
    @include breakpoint(xs)
        min-height: 269px
        margin-bottom:35px
        padding:25px 20px 70px

.information-section
    height:100%
    > h2
        margin-bottom:34px
        @include breakpoint(xs)
            margin-top:0
            margin-bottom: 15.5px
            font-weight: 500

.info-container
    display: flex
    border:1px solid transparent
    .info-change-button
        svg
            margin:0
            fill:#72808c
    .info-change-button--accent-background
        svg
            margin:0
            fill: white

.info
    background:#F5F8F8
    padding: 7.5px 26px 7.5px 7px
    position: relative
    @include breakpoint(xs)
        background: transparent

[class*="info-change-button"]
    background: #ECF1F5
    padding:7.5px
    border: none
    > svg
        margin-right:0
        @include breakpoint(xs)
            fill: #72808c
    @include breakpoint(xs)
        padding: 3.5px
        position: absolute
        top:0
        right:0
        height: unset


.info-container [class*="info-change-button"]
    @include breakpoint(xs)
        display: none



[class*="accent-background"]
    background:#007EE5

.profile-picture-container
    margin-left: 0px
    background: white url('../img/profile_image.jpg') 63% top
    background-size: 300px
    width: 171px
    height: 171px
    position: absolute
    left: 0
    top: 50%
    transform: translate(0, -50%)
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2)
    overflow: hidden
    z-index: 1
    @include breakpoint(xs)
        left:50%
        top:20px
        width:127px
        height:127px
        transform: translate(-50%, 0)

.review-score
    > svg
        stroke: #72808c
        fill: #72808c
        margin-right: 2.5px
        @include breakpoint(xs)
            stroke: #007DE4
            fill: #007DE4
    > svg[id*=outline]
        stroke: #72808c
        fill: transparent
        @include breakpoint(xs)
            stroke:#007DE4
    > svg:last-of-type
        margin-right: 20px
    @include breakpoint(xs)
        margin-top: 10px

.number-of-reviews
    font-size:0.8125rem 
    > span
        margin-right:10px
    @include breakpoint(xs)
        display: block
        margin-top: 10px

.number-of-followers
    display: flex
    flex-direction: row
    button
        padding:0
        margin-right:10px
    svg
        height:25px
        fill: #a8b1b8
        margin-right:0
    span
        margin-right:5px
    @include breakpoint(xs)
        margin-top: 30px

.font-size-1rem
    font-size:1rem

.edit-field-popup
    position: absolute
    top:-10px
    left: calc(100%)
    z-index:2
    display: none
    background: white
    padding: 20px
    border-radius: 3px
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2)
    button
        margin-right:20px
        min-width:96px
    .input-container
        position: relative 
        height:50px
        margin-bottom:15px
    input
        background: transparent
        border: none
        border-bottom: 2px solid #D0DCE7
        margin-bottom:20px
        font-size:1rem
        padding:10px 0
        transition: 0.25s
        width: 256px
        @include breakpoint(xs)
            width:100%
    input:focus
        border-color: #007EE5
        outline: none
    .edit-buttons
        position: absolute
        top: -40px
        right: 0
        display: flex
        flex-direction: row-reverse
        > button
            padding-left: 10px
            padding-right: 10px
            min-width: unset
    label
        position: absolute
        top: 2rem
        left: 20px
        transition: 0.25s
        color: #333333
        font-size: 1rem
        opacity:0.5
        z-index:-1
        @include breakpoint(xs)
            left: 0
            top: unset
            bottom: 20px
    .label--floating
        top: 0.5rem
        font-size: 0.75rem
        @include breakpoint(xs)
            top:-10px
    @include breakpoint(xs)
        left:-20px
        min-height: 269px
        top:40px
        width:100vw
        flex-direction: column
        margin-bottom: 37px
        box-shadow: unset

.edit-field-popup::before
    content:''
    width:14px
    height:14px
    background: white
    position: absolute
    top: 26px
    left: 0px
    transform: translate(-50%, -50%) rotate(-45deg)

.popup--state-active
    display: block

.swipable-container
    display: flex
    overflow-x: hidden
    align-items: flex-start
    justify-items: flex-start
    min-height: 616px
    @include breakpoint(xs)
        min-height: 194px
        height: 100%
        overflow: visible


.slide
    min-width: 100% 
    height:100%
    display: none
    position: relative

.slide--active
    display: block

.not-mobile
    @include breakpoint(xs)
        display: none

.mobile
    display: none
    @include breakpoint(xs)
        display: flex

.info-change-button--unavailable
    display: none