@mixin breakpoint($class) {
    @if $class == xs {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 768px) and (max-width: 1199px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: xs, md";
    }
  }